<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: content">
<head>
    <title>Productos</title>
</head>
<body>
    <section>
        <h2>Lista de Productos</h2>
        <a href="/productos/nuevo">Añadir Nuevo Producto</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.categoria.nombre}"></td>
                <td>
                    <a th:href="@{'/productos/editar/' + ${producto.id}}">Editar</a>
                    <a th:href="@{'/productos/eliminar/' + ${producto.id}}">Eliminar</a>
                </td>
            </tr>
        </table>
    </section>
</body>
</html>